    /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

body{
    background-color: #c1e4fd;
}
.keyword{
    background-color: white;
    width: 88vw;
    height: 82vh;
    line-height: 82vh;
    margin: 3vh auto 3vh auto;
    text-align: center;
}
.keyword a:link
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    color: #005cb1;
}
.keyword a:visited
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    color: #005cb1;
}
.keyword a:hover
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    color: #005cb1;
}
.keyword a:active
{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
    color: #005cb1;
}
.bottom-line{
    color: #408fc6;
    font: 17px/33px Arial,sans-serif;
    margin: 0;
    padding: 0 0 5px;
    text-align: center;
    font-size: 2.5vh;
}

